# ENVIRONMENT VARIABLES FOR ENTERPRISE PORTAL
# Configure these on your continuous integration server or local setup.

# SECRET_API_KEY: Secure key used for cross-service API authentication (e.g. dotnet backend validation headers)
SECRET_API_KEY="TicTacToeEnterpriseSecretKey2026"

# APP_URL: The URL where the application portal is hosted.
APP_URL="http://localhost:3000"
